<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
  >
    <svg width="24" height="24" viewBox="0 0 935 990" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" overflow="hidden"><g transform="translate(-1535 -742)"><g><path d="M1554 910.669C1554 828.009 1621.01 761 1703.67 761L2302.33 761C2384.99 761 2452 828.009 2452 910.669L2452 1564.33C2452 1646.99 2384.99 1714 2302.33 1714L1703.67 1714C1621.01 1714 1554 1646.99 1554 1564.33Z" stroke="currentColor" stroke-width="32.0833" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="8" stroke-opacity="1" fill="none" fill-rule="evenodd"/><path d="M1882.8 947.811 1882.8 1280.01 1882.8 1375.16 1882.8 1375.16 2174.41 1375.16 2174.41 1280.01 1987.43 1280.01 1987.43 947.811ZM1689.79 761 2316.21 761C2391.2 761 2452 821.816 2452 896.836L2452 1440.16C2452 1515.18 2391.2 1576 2316.21 1576L1689.79 1576C1614.8 1576 1554 1515.18 1554 1440.16L1554 896.836C1554 821.816 1614.8 761 1689.79 761Z" stroke="currentColor" stroke-width="32.0833" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="8" stroke-opacity="1" fill="currentColor" fill-rule="evenodd" fill-opacity="1"/></g></g></svg>
  </span>
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> Lmor152</span>
</a>

