---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
---

<BaseLayout>
    <div class="stack gap-20 lg:gap-48">
        <div class="wrapper stack gap-8 lg:gap-20">
            <header class="hero">
                <Hero
                    title="Hello, I'm Liam Morris"
                    tagline="I'm a Data Scientist and Software Developer based in Wellington, New Zealand."
                    align="start"
                />
                <Skills />
            </header>
        </div>
    </div>
</BaseLayout>

<style>
    /* ... existing styles ... */
</style>
